<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>网页不存在</title>
<style type="text/css">
body {
	background: url("/assets/css/imgs/404.jpg") top no-repeat;
}

.optdiv {
	min-width: 300px;
	height: 35px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 370px;
	margin-left: -140px;
}
.optdiv a{
display: block;
float: left;
min-width: 80px;
height:30px;
line-height: 30px;
color:#63a7b4;
margin:0 10px;
font-size:14px;
background: #FFF;
text-decoration:none;
text-align:center;
border: 1px solid #FEFEFE;
}
.optdiv a:hover{
	color:red;
	border-color: #EEE;
}
</style>
</head>
<body>
	<div class="optdiv">
	<a href="article">列表页</a>
	</div>
</body>
</html>